:root {
  --error-color: red;
  --accent-color: #005b96;
  --border-radius: 5px;
}

.invisible {
  display: none;
}

.ErrorBox {
  background-color: white;
  color: var(--error-color);

  font-size: 15px;
  text-align: center;
}

.ErrorBox button {
  background-color: white;
  color: var(--error-color);

  border-style: none;
  border-radius: 50%;

  font-size: 18px;
}

.ErrorBox button:hover {
  background-color: var(--error-color);
  color: white;
}

.accented-button {
  background-color: var(--accent-color);
  color: white;
}

.submit-button {
  border-style: none;
  border-color: white;

  padding: 5px;

  margin: auto;
}

.submit-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  margin: 5px;
}

.FileChooser-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.FileChooser-product {
  border-style: none;
  border-radius: var(--border-radius);
  border-color: white;

  padding: 5px;

  font-size: 15px;
}

.Field {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.Field input {
  border: 1px solid black;
  border-radius: 0;
}

.Field textarea {
  border: 1px solid black;
  border-radius: 0;
  resize: none;
}

.Field-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.Field-wrapper div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.ErrorBox {
  background-color: white;
  color: var(--error-color);

  font-size: 15px;
  text-align: center;
}

.ErrorBox button {
  background-color: white;
  color: var(--error-color);

  border-style: none;
  border-radius: 50%;

  font-size: 18px;
}

.ErrorBox button:hover {
  background-color: var(--error-color);
  color: white;
}

.CreateProduct {
  font-family: 'Roboto', sans-serif;

  width: 40%;
  margin: auto;

  border: 1px solid silver;
}