:root {
  --background-color: whitesmoke;
  --regular-color: black;
  --accent-color: darkblue;
  --accent-regular-color: white;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--regular-color);

  font-family: 'Roboto', sans-serif;
}

.ModeSelect-selected {
  background-color: black;
  color: white;
}

.ErrorBox-invisible {
  display: none;
}

.ErrorBox-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.SignUpForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.SignInForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.Field {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}